.sectionAbout {
    width: 100vw;
    height: 500px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    cursor: default;
}

.about_display {
    width: 100%;
    height: 100%;
    background-color: rgb(36, 34, 36);

    &_container {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &_content {
        height: 80%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 40px 0 40px;
        margin: 3% 0px 0 90px;
        border-left: 1px solid rgba(255, 255, 255, 0.15);

        &_img {
            width: auto;
            border-radius: 200px;
            padding: 10px;
            margin: 85px 100px 85px 100px;
            background-color: rgb(36, 34, 36);
            box-shadow: 0 0 0 2px #756f75, 0 0 0 5px rgb(36, 34, 36), 0 0 0 10px #756f75;
            filter: saturate(0);
        }

        &_links {
            display: flex;
            flex-direction: column;
            line-height: 30px;
            text-align: left;
            text-decoration: none;

            &_name {
                padding-left: 20px;
                color: #d68585;
                font-size: 14px;
                text-decoration: none !important;

                &:hover {
                    color: #756f75;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                }

                &:last-child {
                    margin-bottom: 12px;
                }
            }

            &_header {
                padding-left: 20px;
                color: rgba(255, 255, 255, 0.7);
                font-size: 14px;
                font-weight: bold;
                line-height: 40px;
            }
        }
    }

    &_description {
        display: flex;
        justify-content: center;

        &_container {
            width: 40vw;
            height: 100%;
            margin: 140px 0 0 0;
            color: #756f75;
            font-size: 16px;
        }

        &_content {
            text-align: left;
            //font-family: 'Lato', sans-serif;
            &_header {
                margin-bottom: 20px;
                color: rgba(255, 255, 255, 0.7);
                text-align: left;
                font-size: 18px;
                font-weight: bold;
                line-height: 40px;
            }
        }
    }
}